@model HogeschoolPXL.Models.VakLector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VakLector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lector.Gebruiker.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lector.Gebruiker.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lector.Gebruiker.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lector.Gebruiker.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lector.Gebruiker.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lector.Gebruiker.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak.VakNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.VakNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak.Studiepunten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.Studiepunten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VakLectorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
