@model IEnumerable<HogeschoolPXL.Models.VakLector>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex flex-row flex-wrap">
    @foreach (var item in Model) {
        <div class="card" style="width: 18rem; margin-right:40px; margin-bottom:10px;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Vak.VakNaam)</h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Lector.Gebruiker.Naam)
                    @Html.DisplayFor(modelItem => item.Lector.Gebruiker.Voornaam)
                </p>
                <a asp-action="Edit" asp-route-id="@item.VakLectorID" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.VakLectorID" class="btn btn-primary" >Details</a>
                <a asp-action="Delete" asp-route-id="@item.VakLectorID" class="btn btn-primary" >Delete</a>
            </div>
        </div>
    }
</div>