@model HogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakLector.VakLectorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VakLector.VakLectorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademieJaarID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademieJaarID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gebruiker.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Gebruiker.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gebruiker.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Gebruiker.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gebruiker.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Gebruiker.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Cursus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Cursus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademieJaar.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademieJaar.StartDatum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InschrijvingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
