@model IEnumerable<HogeschoolPXL.Models.Inschrijving>

@{
    ViewData["Title"] = "Index";
}


<div class="row m-1 p-1">
    <div id="categories" class="col-2">
        <vc:navigation-menu />
    </div>
    <div class="col-9">
        <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                        @Html.DisplayNameFor(model => model.Student.Gebruiker.Naam)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.VakLector.Lector.Gebruiker.Naam)
            </th>
            <th>
                        @Html.DisplayNameFor(model => model.AcademieJaar.StartDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                            @Html.DisplayFor(modelItem => item.Student.Gebruiker.Voornaam)
                </td>
                <td>
                            @Html.DisplayFor(modelItem => item.VakLector.Lector.Gebruiker.Voornaam)
                            @Html.DisplayFor(modelItem => item.VakLector.Lector.Gebruiker.Naam)
                </td>
                <td>
                            @Html.DisplayFor(modelItem => item.AcademieJaar.StartDatum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InschrijvingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InschrijvingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InschrijvingID">Delete</a>
                </td>
            </tr>
                }
    </tbody>
</table>
    </div>
</div>
