@model IdentityViewModel
@if (Model.Roles != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>RoleName</th>
            </tr>
        </thead>
        @foreach (var role in @Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </table>
    <br />
    <table class="table table-sm table-bordered table-bordered">
        <thead>
            <tr>
                <th>RoleGroups</th>
            </tr>
        </thead>
        <tr><th>ID</th><th>Name</th><th>Users</th></tr>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td role="@role.Id"></td>
            </tr>
        }
    </table>
    <table class="table table-sm table-bordered table-bordered">
        <thead>
            <tr>
                <th>AssignRoles</th>
            </tr>
        </thead>
        <tr><th>ID</th><th>Name</th><th>TempRole</th><th>Change Role</th></tr>
        @foreach (var user in Model.Users)
        {
            <form asp-action="ChangeUserRole">
                <tr>    
                    <td>@user.Id</td>
                    <input asp-for="UserID"style="visibility:hidden;"value="@user.Id">
                    <td>@user.UserName</td>
                    <td id="tempRole" temp-role="@user"></td>
                    <td style="display:none;" id="roleName" user-role="@user"></td>
                    <td><select id="roleSelect" asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select></td>
                    @*<td><a id="btnUpdate" class="btn btn-primary"  asp-controller="Account" asp-action="ChangeUserRole">Update</a></td>*@
                    <td><input type="submit" id="btnUpdate" value="Update" class="btn btn-primary"/></td>
                </tr>
            </form>
        }
    </table>
    <script>
    var select = document.querySelectorAll("#roleSelect");
    var roleName = document.querySelectorAll("#roleName");
    
    for (var j = 0; j < select.length; j++) {
        for (var i = 0; i < select[j].options.length; i++) {
            if (select[j].options[i].value == roleName[j].innerHTML)  {
                select[j].selectedIndex = i;
                break;
            }
        }
    }
    </script>
}